$primary: #82fb8e;
$bg-green: #004d40;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

.bg-intense {
  background-color: $bg-green;
  color: white;
}

a {
  color: $bg-green;
}

.bg-less {
  background-color: #e8faec;
}

.icon {
  margin-top: -4px;
}

.link-unstyled {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
  }
}
